@{
    ViewBag.Title = "Home Page";
}





<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <br />
    <br />
    <br />
    <div class="container alert-succes col-md-4">
        <br />
        <br />
        <div class=" center-block">
            <p>

                <a href="#" class="btn btn-primary active">
                    <span class="glyphicon glyphicon-pencil left" style="font-size: 0px"></span> Agregar Clientes
                </a>
            </p>
        </div>
        <p>

            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-search" style="font-size: 75px"></span> Buscar
            </a>
        </p>

        <p>

            <a href="#" class="btn btn-warning">
                <span class="glyphicon glyphicon-user" style="font-size: 75px"></span> Usuarios
            </a>
            <a href="#" class="btn btn-success">
                <span class="glyphicon glyphicon-list-alt " style="font-size: 75px"></span> Clientes
            </a>

        </p>

      </div>

</body>

  
<body style="background-image:url(https://png.pngtree.com/thumb_back/fw800/20151101/pngtree-Device-Rudder-Boat-Pinwheel-background-photo-747359.jpg); background-repeat: no-repeat; background-attachment:fixed">
</body>
