@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <div class="container center-block">
        <br />
        <br />
        <div class="left">
            <p>

                <a href="#" class="btn btn-info btn-lg left">
                    <span class="glyphicon glyphicon-pencil left" style="font-size: 100px"></span> Agregar Clientes
                </a>
            </p>
        </div>
        <p>

            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </a>
        </p>

        <p>
            
            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-user"></span> Usuarios
            </a>
        </p>

    </div>

    <form action="lecmensu" method="post" class="alert-link">
        <p>imprimir formulario1</p>
        <select name="filtro">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <input type="submit" name="enviar" value="enviar" />
    </form>

</body>
</html>


<body style="background-image:url( http://fotorecurso.com/images/2016/04/29/fondo-azul-exagonos-fotorecurso.jpg); background-repeat: no-repeat; background-attachment:fixed">
